<h1>Listing movies</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Description</th>
      <th>Trivia</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.image_url %></td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director %></td>
        <td><%= movie.description %></td>
        <td><%= movie.trivia %></td>
        <td><%= movie.location %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
